body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.nebula-one {
	margin: 10px;
	float: left;

}

.nebula-two {
	margin: 10px;
	float: right;
}

.nebula-one, .nebula-two {
	width: 300px;
}