body {
	background-image: url(../images/outerspace_landscape.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}


nav {
	background-color: Gray;
	position: fixed;
	width: 100%;
	padding-left: 60px;
	padding-right: 60px;
	top: 0;

}

nav li {
	position: relative;
	text-align: left;
	margin-left: 80px;
	display: inline-block;

}

.icon {
	position: absolute;
	left: 60px;
	height: 100%;
	border: 1px solid Black;
	border-radius: 100%;
}

.box {
	border: 10px Green dotted;
	width: 600px;
	height: 300px;
	margin: auto;
	margin-top: 300px;

}


.dog, .cat {
	width: 200px;
}

.dog {
	position: relative;
	margin-top: 100px;
	margin-left: 400px;
}

.cat {
	position: relative;
	top: -500px;
	left: -60px;
}

